<html>
	<head>
		<link rel="icon" href="{{ url_for('static', filename='images/ico.png') }}">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename = 'js/game.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

		<title>Mastermind</title>
	</head>
	<body>
		<div class="grid-container">
			<div id="id-tittle" class="div-tittle">
				<h1 id="txt-play">Time to guess</h1>
			</div>

			<div id="id-historic" class="div-historic">
				<p>HISTORIC</p>
				<p id="p-historic" ></p>
			</div>

			<div id="id-guess" class="div-guess">
				<div id="id-selections" class="start" >
					<div class="selections">
						<select id = "Color-1">
							<option value="RED">RED</option>
							<option value="BLUE">BLUE</option>
							<option value="YELLOW">YELLOW</option>
							<option value="GREEN">GREEN</option>
							<option value="PURPLE">PURPLE</option>
						</select>

						<select id = "Color-2">
							<option value="RED">RED</option>
							<option value="BLUE">BLUE</option>
							<option value="YELLOW">YELLOW</option>
							<option value="GREEN">GREEN</option>
							<option value="PURPLE">PURPLE</option>
						</select>

						<select id = "Color-3">
							<option value="RED">RED</option>
							<option value="BLUE">BLUE</option>
							<option value="YELLOW">YELLOW</option>
							<option value="GREEN">GREEN</option>
							<option value="PURPLE">PURPLE</option>
						</select>

						<select id = "Color-4">
							<option value="RED">RED</option>
							<option value="BLUE">BLUE</option>
							<option value="YELLOW">YELLOW</option>
							<option value="GREEN">GREEN</option>
							<option value="PURPLE">PURPLE</option>
						</select>
					</div>
					
				</div>

				<div id="id-send" class="start">
					<br>
					<a class="btn btn-blue" id="sendbutton">Guess</a>
				</div>	
			</div>

			<div id="id-right" class="div-right">
				<div id="id-response" class="start">
					<p>RESPONSE</p>
					<p id="messages"></p>
				</div>
				<div id="id-attempts" class="start">
					<p id="attempts"></p>
				</div>
			</div>


			<div hidden id="id-loss" class="div-loss">
				<h5 id="txtGameOver">Game Over</h5>
				<a class="btn btn-red" id="buttonGameOver" href="{{ url_for('start') }}">Try again</a>
			</div>
			<div hidden id="id-win" class="div-win">
				<h4 id="txtWin">You won</h4>
				<a class="btn btn-green" id="buttonWin" href="{{ url_for('start') }}">Play again</a>
			</div>

		</div>
	</body>
</html>